.table {
    margin-top: 20px;
    overflow-y: scroll;
    height: 500px;
    color: darkgoldenrod;
    background-color: rgb(50, 49, 51);
}

.table tr {
    display: flex;
    justify-content: space-between;
}

.table td {
    padding: 0.5rem;
}

.table tr:nth-of-type(odd){
    color: rgb(14, 1, 36);
    background-color: #f3f2f8;
}

.info-flag{
    height: 30%;
    width: 60%;
    border-radius: 10%;
}